solutions/day1/input.txt
solutions/day2/input.txt
solutions/day3/input.txt
solutions/day4/input.txt
solutions/day5/input.txt
solutions/day6/input.txt
solutions/day7/input.txt
solutions/day8/input.txt
solutions/day9/input.txt
solutions/day10/input.txt
solutions/day11/input.txt
solutions/day12/input.txt
solutions/day13/input.txt
solutions/day14/input.txt
solutions/day15/input.txt

