solutions/day01/input.txt
solutions/day02/input.txt
solutions/day03/input.txt
solutions/day04/input.txt
solutions/day05/input.txt
solutions/day06/input.txt
solutions/day07/input.txt
solutions/day08/input.txt
solutions/day09/input.txt
solutions/day10/input.txt
solutions/day11/input.txt
solutions/day12/input.txt
solutions/day13/input.txt
solutions/day14/input.txt
solutions/day15/input.txt
solutions/day16/input.txt
solutions/day17/input.txt
solutions/day18/input.txt
solutions/day19/input.txt
solutions/day20/input.txt
solutions/day21/input.txt
solutions/day22/input.txt
solutions/day23/input.txt
solutions/day24/input.txt
solutions/day25/input.txt


